# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Ansible
*.retry

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json

# Logs and archives
*.log
*.tar.gz
*.zip
